name: Armor Configure AWS Credentials
on:
  workflow_call:
    inputs:
      AWS_SHARED_ACCOUNT_ID:
        type: "string"
        description: "AWS Shared Service Account Id"
        required: true
      AWS_ACCOUNT_ID:
        type: "string"
        description: "AWS Account Id for Dev/Stage/Prod"
        required: true
      AWS_REGION:
        type: "string"
        description: "AWS Region used for deployment"
        required: true
        default: "us-west-2"
      GITHUB_JOB:
        type: "string"
        description: "GitHub job id used to identify role session name"
        required: true
        default: ""
      GITHUB_RUN_ATTEMPT:
        type: "string"
        description: "GitHub Run Attempt used to identify role session name"
        required: true
        default: ""
      GITHUB_REPO_NAME:
        type: "string"
        description: "GitHub Repo Name used to identify role session name"
        required: true
        default: ""

jobs:

  assume-role:
    runs-on: ubuntu-latest

    steps:
      - name: Assume Role Shared Service
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ inputs.AWS_SHARED_ACCOUNT_ID }}:role/allow-auto-deploy-from-code-deploy
          role-session-name: ${{ inputs.GITHUB_REPO_NAME }}-${{ inputs.AWGITHUB_JOB }}@${{ inputs.GITHUB_RUN_ATTEMPT }}
          aws-region: ${{ inputs.AWS_REGION }}
          role-skip-session-tagging: true
          output-credentials: true

      - name: Assume Role Dev/Stage/Prod
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ inputs.AWS_ACCOUNT_ID }}:role/allow-auto-deploy-from-other-accounts
          # Session id must be [A-Za-z_=,.@-] and <= 64 characters
          role-session-name: ${{ inputs.GITHUB_REPO_NAME }}-${{ inputs.AWS_SHARED_ACCOUNT_ID }}@${{ inputs.GITHUB_RUN_ATTEMPT }}
          aws-region: ${{ inputs.AWS_REGION }}
          role-skip-session-tagging: true
          role-chaining: true
